

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Gradelevel info</strong>
    
  </div><!--

   end top-wizard -->
   

<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form name="example-1" id="wrapped"  method="POST" >
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">



              <li>
                


                <div class="form-group">
               <%= f.text_field :grade , :type=>"text", :class=>"required form-control", :placeholder=>"Grade" %>
              </i></div></li>

              
              
      
                      
                            
          </div><!-- end col-md-6 -->
                            
          
        </div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard">
      <%= f.submit :class=>"btn btn-primary " %>
         
      </div>
    </form><!-- end bottom-wizard -->
<% end %> 
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->



























