

<section id="wizard_bg">
  <div class="container">
    <!-- Start Survey container -->
    <div id="survey_container">


      <div id="top-wizard">
        <strong>Grade level info</strong>

      </div><!-- end top-wizard -->

      <form name="example-1" id="wrapped" action="http://www.ansonika.com/learn/apply_send.php" method="POST" >
        <div id="middle-wizard">
          <div class="step">


            <center>



              <h4>Listing Grade</h4>



              <table class="table" border="2" style="width:100%">
                <thead>
                <tr>
                  <th>Gradelevel</th>
                  <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <% @grades.each do |grade| %>
                    <tr>
                      <td><%= grade.grade %></td>
                      <td><%= link_to 'Show', grade %>
                      <%= link_to 'Edit', edit_grade_path(grade) %>
                      <%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>


<br>



            </center>


          </div><!-- end step-->
          <div id="bottom-wizard">
            <%= link_to 'New Gradelevel', new_grade_path, :class=>"btn btn-primary " %>

            </button>
          </div><!-- end bottom-wizard -->
      </form>

    </div><!-- end Survey container -->

  </div>
</section><!-- end section main container -->

