
<section id="login_bg">
<div  class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<img src="/assets/login_logo.png" alt="">
			</p>
			<hr>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  			<%= devise_error_messages! %>
            <div class="form-group">
            		<%= f.text_field :full_name, autofocus: true, :class => "form-control required", :placeholder => "Faculty First Name" %>
					
					<span class="input-icon"><i class=" icon-user"></i></span>
				</div>
                <div class="form-group">
                	<%= f.text_field :class_name, autofocus: true, :class => "form-control required", :placeholder => " Faculty Last Name" %>
					
					<span class="input-icon"></span>
				</div>
                <div class="form-group">
                	<%= f.text_field :phone, autofocus: true, :class => "form-control required", :placeholder => "Cellphone Number" %>
					
					<span class="input-icon"></i></span>
				</div>
				
				<div class="form-group">
					<%= f.email_field :email, autofocus: true, :class => "form-control required", :placeholder => "Email" %>
					
					<span class="input-icon"><i class="icon-email"></i></span>
				</div>
				<div class="form-group">
					<% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br/>
					<%= f.password_field :password, autocomplete: "off", :class =>" form-control required", :id=>"password1", :placeholder =>"Password" %>
				</div>
				<div class="form-group">
					<%= f.password_field :password_confirmation, autocomplete: "off", :class => " form-control required", :id =>"password2", :placeholder =>"Confirm password" %>
					
					<span class="input-icon"><i class=" icon-lock"></i></span>
				</div>
                <div id="pass-info" class="clearfix"></div>
                <%= f.submit "Create an account", :class => "button_fullwidth" %>
				
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
</div>
</section><!-- End register -->

