

<%= form_for(@student) do |f| %>

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Student info</strong>
    
  </div><!-- end top-wizard -->


    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">
              <li><div class="form-group"><%= f.text_field :first_name, :class=>"required form-control", :placeholder=>"First name" %><span class="input-icon"><i class="icon-user" ></i></span></div></li>

              <li><div class="form-group">
              <%= f.text_field :middle_name, :class=>"required form-control", :placeholder=>"middle name" %><span class="input-icon"><i class="icon-user"></i></span></div></li>

             <li><div class="form-group"><%= f.text_field :last_name, :class=>"required form-control", :placeholder=>"Last name" %><span class="input-icon"><i class="icon-user"></i></span></div></li>

               <li><div class="form-group"><%= f.text_field :email,:class=>"required form-control", :placeholder=>"Your Email" %><span class="input-icon"><i class="icon-email"></i></span></div></li>
                
       
             
            <li><div class="form-group">
                 <%= f.text_field :date_of_birth, :class=>"form-control",:id=>"end_date" , :placeholder=>" Enter DOB"%><span class="input-icon"><i class="icon-calendar" ></i></span>
                 </div></li>
           

              
            </ul>


            
                            
          </div><!-- end col-md-6 -->
                    
          <div class="col-md-6">
                   
                        
            <ul class="data-list" style="margin:0; padding:0;">
            
                        
             <li><div class="form-group"><%= f.text_field :phone, :class=>"required form-control", :placeholder=>"Your phone number" %><span class="input-icon"><i class="icon-phone"></i></span></div></li>
              
              <!-- <li><div class="form-group"><%#= f.text_field :tier_level, :class=>"required form-control", :placeholder=>"Tier Level (1 , 2, 3)" %></div></li> -->
               

               <li><div class="form-group">
               <%= select_tag "student[aclass_id]", options_from_collection_for_select(Aclass.all , "id", "aclass", @class_id) ,:class=>"form-control",:prompt => " Class of Student" ,:include_blank => "nill" ,:required=>"True" ,:message =>"class need to enter" %>
               
            <% if @student.errors.any? %>
<div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            </li>



<!-- 
            <h4>Labels Left of Radio buttons</h4>
      
            <div class="form-inline">
                <label class="control-label">
                    What is your favorite season?</label>
                <label class="radio">
                    Winter<input value="1" type="radio">
                </label>
                <label class="radio">
                    Spring<input value="2" type="radio">
                </label>
                <label class="radio">
                    Summer<input value="3" type="radio">
                </label>
                <label class="radio">
                    Autumn (Fall)<input value="4" type="radio">
                </label>
            </div> -->

              <li>
              <div class="form-group">
            <div class="form-inline">
                <label class="control-label">
                    Select Gender</label>&nbsp&nbsp
                <label class="radio">
                    Male <%= f.radio_button :gender, "male"%>
                </label>&nbsp&nbsp
                <label class="radio">
                    Female <%= f.radio_button :gender, "female"%>
                </label>
                </div>
                </div>
                </li>
                <li>
                <div class="form-group">
                <div class="form-inline">
                <label class="control-label">
                    Select Tier&nbsp&nbsp</label>&nbsp&nbsp
                <label class="radio">
                     Tier 1 <%= f.radio_button :tier_level, "Tier 1"%>
                </label>&nbsp&nbsp
                <label class="radio">
                    Tier 2 <%= f.radio_button :tier_level, "Tier 2"%>
                </label>&nbsp&nbsp
                <label class="radio">
                    Tier 3 <%= f.radio_button :tier_level, "Tier 3"%>
                    </label>
                </div>
                </div>
                </li>

      <!-- div class="control-group">
        
               <div class="controls">
             <p> Select Gender :</p>
              <label for="male">Male</label>


              <%#= f.radio_button :gender, "male"%><br>
              <label for="female">Female</label>
               <%#= f.radio_button :gender, "female"%><br><br>
        </div>
        </div>
 -->
         </ul>

          </div><!-- end col-md-6 -->
        </div><!-- end row -->
           </div><!-- end step-->
       <div class="actions" id="bottom-wizard">
          <%= f.submit :class=>"btn btn-primary" %>
      <%= link_to 'Back', students_path, :class=>"btn btn-primary" %>
      </div>

     <% end %>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->





