



 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Student info</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">

          
         <center>
          
           <h3>Listing students</h3>


        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>First name</th>
              <th>Middle name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Date of birth</th>
              <th>Phone</th>
              <th>Gender</th>
              <th>Tier level</th>
              <th>Class of Student</th>
              <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
          <% @students.each do |student| %>
            <tr>  
                  
                  <td><%= student.first_name %></td>
                  <td><%= student.middle_name %></td>
                  <td><%= student.last_name %></td>
                  <td><%= student.email %></td>
                  <td><%= student.date_of_birth %></td>
                  <td><%= student.phone %></td>
                  <td><%= student.gender %></td>
                  <td><%= student.tier_level %></td>

                  <td><%= student.aclass.aclass rescue "" %></td>


                  <td> <%= link_to 'Show', student %> <%= link_to 'Edit', edit_student_path(student) %> <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
           <% end %>
        </tbody>
    </table>
      


<br>

   
            
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
          <%= link_to 'New Student', new_student_path , :class=>"btn btn-primary " %>
         
         </button>
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


