

 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Student info</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">

          
         <center>
            <p id="notice"><%= notice %></p>
             <table border="2" width="40%" BGCOLOR="#99CCFF" style="text-align:center;">
               <tr colspan="3">
                 <th>First name:</th>
                 <td> <%= @student.first_name %></td>
               </tr>
               <tr>
                 <th>Middle name:</th>
                 <td><%= @student.middle_name %></td>
               </tr>
               <tr>
                 <th>Last name:</th>
                 <td>  <%= @student.last_name %></td>
               </tr>
                <tr>
                 <th>Email:</th>
                 <td>  <%= @student.email %></td>
               </tr>
                 <tr>
                 <th>Date of birth:</th>
                 <td> <%= @student.date_of_birth %></td>
               </tr>
                 <tr>
                 <th>Tier level:</th>
                 <td> <%= @student.tier_level %></td>
               </tr>
                <tr>
                 <th>Phone:</th>
                 <td> <%= @student.phone %></td>
               </tr>
                <tr>
                 <th>Gender:</th>
                 <td> <%= @student.gender %></td>
               </tr>
             </table>
             
   
            
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
          <%= link_to 'Edit', edit_student_path(@student), :class=>"btn btn-primary " %>
          <%= link_to 'Back', students_path, :class=>"btn btn-primary " %>
         </button>
      </div><!-- end bottom-wizard -->
 
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->




<script type="text/javascript">
      $(document).ready(function() {
        $('#example').dataTable();
      } );
    </script>