<%= form_for(@termdatum) do |f| %>
  <% if @termdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@termdatum.errors.count, "error") %> prohibited this termdatum from being saved:</h2>

      <ul>
      <% @termdatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Term Data info</strong>
    
  </div><!-- end top-wizard -->
    
 
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">
              <li><div class="form-group"><input type="text" name="Term ID" class="required form-control" placeholder="Term ID"></i></div></li>

              <li><div class="form-group"><input type="text" name="Student ID" class="required form-control" placeholder="Student ID"></i></div></li>

              <li><div class="form-group"><input type="text" name="Class ID" class="required form-control" placeholder="Class ID"></i></div></li>

              <li><div class="form-group"><input type="email" name="Instructr_ID" class="required form-control" placeholder="Instructr_ID"></i></div></li>

              
              
            </ul>
                      
                            
          </div><!-- end col-md-6 -->
            <div class="col-md-6">
                               <ul class="data-list" style="margin:0; padding:0;">
                   



                   </ul>
               </div>
                         
          
        </div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard">
        <div class="actions">
    <%= f.submit "Create TermData",:class=> "btn btn-primary" %>
    <%= link_to 'Back', termdata_path ,:class=> "btn btn-primary"%>

  </div>
<% end %>

    
      </div><!-- end bottom-wizard -->
 
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->

