

 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Term data info</strong>
    
  </div><!-- end top-wizard -->
    

    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
                   <h4>Listing termdata</h4>

                    <table class="table" border="2" style="width:100%">
                      <thead>
                        <tr>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                    
                      <tbody>
                        <% @termdata.each do |termdatum| %>
                          <tr>
                            <td><%= link_to 'Show', termdatum %></td>
                            <td><%= link_to 'Edit', edit_termdatum_path(termdatum) %></td>
                            <td><%= link_to 'Destroy', termdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                                 
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
       <%= link_to 'New Termdatum', new_termdatum_path, :class=>"btn btn-primary " %>
        
         </button>
      </div><!-- end bottom-wizard -->
  
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


