

<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Term info</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          <div class="col-md-6">
            <ul class="data-list">
              <li><div class="form-group">
               <%= select_tag "term[aclass_id]", options_from_collection_for_select(Aclass.all, "id", "aclass",params[:aclass_id]) ,:class=>"form-control",:prompt => "All Classes"  ,:id =>"aclass"  ,:onchange =>"window.location.assign('?aclass_id='+document.getElementById('aclass').value)",:value => "params[:aclass_id]" %>
           <!--     <%#=params[:aclass_id].inspect%> -->
               
            </li>

              

            <li><div class="form-group"><%= f.text_field :term, :class=>" form-control", :placeholder=>"term" %><span class="input-icon"><i class="icon-user" ></i></span></div></li>

            <li><div class="form-group">
               <%= f.text_field :start_date,  :class=>"form-control",:id=>"start_date", :placeholder=>"Start Date", :value =>"#{@term.start_date.strftime('%d/%m/%Y')rescue ""}" %><span class="input-icon"><i class="icon-calendar"   ></i></span>
                </div></li>
                 <li><div class="form-group">
                 <%= f.text_field :end_date,  :class=>"form-control",:id=>"end_date" , :placeholder=>"End Date" , :value =>"#{@term.end_date.strftime('%d/%m/%Y')rescue ""}"%><span class="input-icon"><i class="icon-calendar" ></i></span>
                 </div></li>

              
            </ul>
                      
                            
          </div><!-- end col-md-6 -->
          
          <div class="col-md-6">
            <ul class="data-list">

              
          
              
            </ul>
                      
                            
          </div><!-- end col-md-6 -->
            
                         
          
        </div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard" class="actions">
      <%= f.submit :class=>"btn btn-primary " %>
         
      </div><!-- end bottom-wizard -->
     
<% end %>

    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->

