


 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Term info</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
                    <h4>Listing terms</h4>

           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                       <thead>
                         <tr>
                           <th>Class</th>
                           <th>Term</th>
                           <th>Start date</th>
                           <th>End date</th>
                           <th>Action</th>
                         </tr>
                       </thead>
                     
                       <tbody>
                         <% @terms.each do |term| %>
                           <tr>         
                             <td><%= term.aclass.aclass rescue "" %></td>
                             <td><%= term.term %></td>
                             <td><%= term.start_date %></td>
                             <td><%= term.end_date %></td>
                             <td><%= link_to 'Show', term %>
                            <%= link_to 'Edit', edit_term_path(term) %>
                             <%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                           </tr>
                         <% end %>
                       </tbody>
                     </table>
                                 
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
        <%= link_to 'New Term', new_term_path, :class=>"btn btn-primary " %>
       
         </button>
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->
 <script type="text/javascript">
     $(document).ready(function() {
         $('#example').dataTable();
         "paging":   false,
                 "ordering": false,
                 "info":     false
     } );
 </script>




