

 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Term info</strong>
    
  </div><!-- end top-wizard -->
    
  <form name="example-1" id="wrapped" action="http://www.ansonika.com/learn/apply_send.php" method="POST" >
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
                    <p id="notice"><%= notice %></p>
                   <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                       <thead>
                      <th>Term:</th>
                      <th>Stat Date</th>
                      <th>End date</th>
                      <th>Student Count</th>
                      <th>Class Name </th>

                      </tr>
                      </thead>
                      <tbody>
                    <tr>
                      <th>Start date:</th>
                      <td><%= @term.start_date %></td>
                      <td><%= @term.end_date %></td>
                      <td><%= @term.end_date %></td>
                     <td><%= @term.end_date %></td>

                    </tr>
                    </tbody>
                     
                  </table>

             
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
        <%= link_to 'Edit', edit_term_path(@term), :class=>"btn btn-primary " %>
         <%= link_to 'Back', terms_path, :class=>"btn btn-primary " %>
         </button>
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->



