

<%= form_for(@instructor) do |f| %>
<% if @instructor.errors.any? %>
 <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Instructor info</strong>
    
  </div><!-- end top-wizard -->
  
    
  
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">


              <li><div class="form-group"> <%= f.text_field :first_name , :class=>"required form-control", :placeholder=>"First name" %><span class="input-icon"><i class="icon-user"></i></span></div></li>

              <li><div class="form-group"> <%= f.text_field :middle_name, :class=>"required form-control", :placeholder=>"middle name" %><span class="input-icon"><i class="icon-user"></i></span></div></li>

              <li><div class="form-group"><%= f.text_field :last_name, :class=>"required form-control", :placeholder=>"Last name" %><span class="input-icon"><i class="icon-user"></i></span></div></li>

              <li><div class="form-group"><%= f.text_field :email, :class=>"required form-control" , :placeholder=>"Your Email",:required=>"True"  %><span class="input-icon"><i class="icon-email"></i></span></div></li>
                        

             <!--  <li><div class="form-group">
              <% aclass = @instructor.aclass.aclass rescue ""%> 
               <%#= select_tag "instructor[aclass_id]", options_from_collection_for_select(Aclass.all , "id", "aclass",aclass ) ,:class=>"form-control",:prompt => "Assign Instructor To Class" ,:required=>"True", :value => "#{@instructor.aclass_id}"   %>

            </li> -->
            <li>
               <p> Select Gender :</p>
              <label for="male">Male</label>
              <%= f.radio_button :gender, "male"%><br>
              <label for="female">Female</label>
               <%= f.radio_button :gender, "female"%><br><br>
               </li>
             

                            
          </div><!-- end col-md-6 -->
                    
          
        </div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard" class="actions">
          <%= f.submit :class=>"btn btn-primary " %>
         </button>
      </div><!-- end bottom-wizard -->
      <% end %>
  
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


