
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="mobnav-btn"></div>
     


           
              </div><!-- End search -->

    </div>
  </div><!-- End row -->
</div><!-- End container -->
</nav>


 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Instructor Info </strong>
    
  </div><!-- end top-wizard -->
    

    <div id="middle-wizard">
      <div class="step">

          
         <center>
          <h3>Listing instructors</h3>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Class name</th>
               <th>First name</th>
              <th>Middle name</th>
               <th>Last name</th>
               <th>Email</th>
               <th>Gender</th>
               
               <th>Action</th>
            </tr>
        </thead>
 
       
 
        <tbody>
         <% @instructors.each do |instructor| %>
            <tr>
                <td><%=instructor.aclass.aclass rescue "" %></td>
                <td><%=instructor.first_name rescue ""%> </td>
                <td><%=instructor.middle_name rescue ""%></td>
                <td><%=instructor.last_name rescue ""%></td>
                <td><%=instructor.email rescue ""%></td>
                <td><%=instructor.gender rescue "" %></td>
                
               <td><%= link_to 'Show', instructor %>
        <%= link_to 'Edit', edit_instructor_path(instructor) %>
        <%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
           
           <%end%>
        </tbody>
    </table>


<br>
                      
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
          <%= link_to 'New Instructor', new_instructor_path, :class=>"btn btn-primary " %>
        
         </button>
      </div><!-- end bottom-wizard -->
 
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->




  <script type="text/javascript">
      $(document).ready(function() {
        $('#example').dataTable();
         "paging":   false,
        "ordering": false,
        "info":     false
      } );
    </script>
