


 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Student info</strong>
    
  </div><!-- end top-wizard -->
    
  <form name="example-1" id="wrapped" action="http://www.ansonika.com/learn/apply_send.php" method="POST" >
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
          <p id="notice"><%= notice %></p>
            <table border="2" width="40%" BGCOLOR="#99CCFF" style="text-align:center;">
              <tr colspan="3">
                <th>First name:</th>
                <td><%= @instructor.first_name %></td>
              </tr>
              <tr>
                <th>Middle name:</th>
                <td><%= @instructor.middle_name %></td>
              </tr>
              <tr>
                <th>Last name:</th>
                <td> <%= @instructor.last_name %></td>
              </tr>
               <tr>
                <th>Email:</th>
                <td> <%= @instructor.email %></td>
              </tr>
               <tr>
                <th>Gender:</th>
                <td> <%= @instructor.gender %></td>
              </tr>
            </table>
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
          <%= link_to 'Edit', edit_instructor_path(@instructor), :class=>"btn btn-primary " %>
         <%= link_to 'Back', instructors_path, :class=>"btn btn-primary" %>
         </button>
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->




