



  <body>
  
  <header>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href="index-2.html" id="logo">Learn</a>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class="pull-right"><a href="/users/sign_in" class="button_top" id="login_top">Sign in</a>
			
		</div>
	</div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li>
				<a href="#">Home</a>
				<div class="mobnav-subarrow">
				</div>
				
				</li>
				<li>
				<a href="#">Add </a>
				<div class="mobnav-subarrow">
				</div>
					<ul>
					<li><a href="/student">Student</a></li>
					<li><a href="#">Instructor</a></li>
                    <li><a href="#">Class</a></li>
					<li><a href="#">Test</a></li>
                    <li><a href="#">Test Date</a></li>
                    <li><a href="#">Grade Lavel</a></li>
                    <li><a href="#">Term</a></li>
                    <li><a href="#">Term Data</a></li>
				</ul>

				</li>


				<li><a href="#">Search</a></li>
				<li>
				<a href="#">Data</a>
				<div class="mobnav-subarrow"></div>
				
				
			</ul>
            
            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
              </div><!-- End search -->
              
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>

<section id="login_bg">
<div  class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<img src="/img/login_logo.png" alt="">
				<h2>Forgot your password?</h2>
			</p>
			<hr>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
 			 <%= devise_error_messages! %>

            <div class="row">
            
			</div> <!-- end row -->
			
       		
       		
				<div class="form-group">
					
					<%= f.email_field :email, autofocus: true , :class =>" form-control ", :placeholder=>"email" %>
					<span class="input-icon"><i class=" icon-user"></i></span>
				</div>


			 	
				<%= f.submit "Send me reset password instructions" , :class=>"button_fullwidth" %>
				
				<% end %>

				<%= render "devise/shared/links" %>


		</div>
	</div>
</div>
</div>
</section> <!-- End login -->

<footer>


<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Browse</h4>
			<ul>
				<li><a href="prices_plans.html">Prices</a></li>
				<li><a href="courses_grid.html">Courses</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contacts.html">Contacts</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Next Courses</h4>
			<ul>
				<li><a href="course_details_1.html">Biology</a></li>
				<li><a href="course_details_2.html">Management</a></li>
				<li><a href="course_details_2.html">History</a></li>
				<li><a href="course_details_3.html">Litterature</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>About Learn</h4>
			<ul>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="apply_2.html">Apply</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="register.html">Register</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class=" icon-google"></i></a></li>
			</ul>
			<ul>
				<li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
				<li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="87f6f2e2f4f3eee8e9f4c7e3e8eae6eee9a9e4e8ea">[email&nbsp;protected]</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>



<script>
			new UISearch( document.getElementById( 'sb-search' ) );
</script>

  </body>
</html>



