

<%= form_for(@aclass) do |f| %>
  <% if @aclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aclass.errors.count, "error") %> prohibited this aclass from being saved:</h2>

      <ul>
      <% @aclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Class info </strong>
    
    <ul class="data-list">
              
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">
            <li><div class="form-group"> 
               <%= f.text_field :aclass, :class=>"required form-control", :placeholder=>"Enter Class like this( Class 1)" %></div></li>   
                <li><div class="form-group">
              <%# aclass = @instructor.aclass.aclass rescue ""%> 
               <%= select_tag "aclass[instructor_id]", options_from_collection_for_select(Instructor.all , "id", "full_name" ) ,:class=>"form-control",:prompt => "Assign Instructor To Class" ,:required=>"True", :value => "#{@aclass.instructor.id rescue ""}"   %>
               
            </li>

            </ul>
          </div>

          <!-- end col-md-6 -->
                 
                    
        </div><!-- end row -->
                
        
                
      </div><!-- end step-->
            
      
          
                        
      
        
    <div id="bottom-wizard">
      <%= f.submit :class=>"btn btn-primary " %>
      <%= link_to 'Back', aclasses_path , :class=>"btn btn-primary "%>
         
      </div>
    </form>
      <% end %>

    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->




