

 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Class info</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
          <h4>Listing Classes</h4>

              
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Class</th>
                      <th>Instructor</th>
                      <th>Students</th>
                       <th>Action</th>
                    </tr>
                  </thead>
                <%#=@aclasses.inspect%>
                  <tbody>
                    <% @aclasses.each do |aclass| %>
                        ******************
                    <%#=aclass.student.inspect%>
                        <% aclass.students.each do |s| %>
                           <%#=s.inspect%>
                          <tr>
                          <td><%= aclass.id %></td>
                          <td><%= aclass.instructor.full_name rescue "" %></td>

                          <td><%= s.first_name %></td>

                       <td><%= link_to 'Show', aclass %>
                        <%= link_to 'Edit', edit_aclass_path(aclass) %>
                        <%= link_to 'Destroy', aclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                      <%end%>
                    <% end %>
                  </tbody>
                </table>

             
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
        <%= link_to 'New Class', new_aclass_path, :class=>"btn btn-primary " %>
        
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->





