
 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Class info</strong>
    
  </div><!-- end top-wizard -->
    
  <form name="example-1" id="wrapped" action="http://www.ansonika.com/learn/apply_send.php" method="POST" >
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
            <p id="notice"><%= notice %></p>
             <table border="2" width="40%" BGCOLOR="#99CCFF" style="text-align:center;">
               <tr colspan="3">
                 <th>Class:</th>
                 <td>  <%= @aclass.aclass %></td>
               </tr>
               
             </table>

             
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
        <%= link_to 'Edit', edit_aclass_path(@aclass), :class=>"btn btn-primary " %>
         <%= link_to 'Back', aclasses_path, :class=>"btn btn-primary " %>
         </button>
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->



