
<footer>
<hr>
<div class="container" id="nav-footer">
  <div class="row text-left">
    <div class="col-md-3 col-sm-3">
      <h4>Browse</h4>
      <ul>
        <li><a href="prices_plans.html">Prices</a></li>
        <li><a href="courses_grid.html">Courses</a></li>
      
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>Next Courses</h4>
      <ul>
        <li><a href="course_details_1.html">Biology</a></li>
        <li><a href="course_details_2.html">Management</a></li>
       
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>About Learn</h4>
      <ul>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="apply_2.html">Apply</a></li>
        
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <ul id="follow_us">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class=" icon-google"></i></a></li>
      </ul>
      <ul>
        <li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
        <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
      </ul>
    </div><!-- End col-md-4 -->
  </div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>

