<header>
 <center> <a href="/index"><h2>Reeves Elementary School Digital Wall</h2></center>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href="#"></a>
		</div>
		
	</div>
</div>
</header><!-- End header -->


<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li>
				<a href="/index" >Home </a>
				<div class="mobnav-subarrow">
				</div>

				</li>
				<li>
				<a href="#" >Add </a>
				<div class="mobnav-subarrow">
				</div>
					<ul>
                    <li><a href="/aclasses" >Classes</a></li>
					<li><a href="/instructors" >Instructors</a></li>
                    <li><a href="/terms" >Terms</a>
                    
						<!-- <ul>
                    	<li><a href="/termdata" >Term Data</a>
                    	</ul> -->
                    </li>
					<li><a href="/tests" >Tests</a>
					
					<ul>
                      <li><a href="/testdata" >Test Datas</a></li>
                    </ul>
                    </li>
                    <li><a href="/grades" >Grades </a></li>
					<li><a href="/students" >Students</a></li>
				</ul>

				</li>


				<li><a href="/search" >Search</a></li>
				<li>
				<!-- <a href="#" >Data</a> -->
				<div class="mobnav-subarrow"></div>


			</ul>


            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
              </div><!-- End search -->

		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>
