
<head style="pull-left">
	<img src="/assets/education_logo.png" alt="Smiley face" height="42" width="42">
</head>


<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li>
				<a href="index" >Home </a>
				<div class="mobnav-subarrow">
				</div>

				</li>
				<li>
				<a href="#" >Add </a>
				<div class="mobnav-subarrow">
				</div>
					<ul>
                    <li><a href="/aclasses" >Classes</a></li>
					<!-- <li><a href="/instructors" >Instructors</a></li> -->
                    <li><a href="/terms" >Terms</a>
                    
						<!-- <ul>
                    	<li><a href="/termdata" >Term Data</a>
                    	</ul> -->
                    </li>
					<li><a href="/tests" >Tests</a>
					
					<ul>
                      <li><a href="/testdata" >Test Datas</a></li>
                    </ul>
                    </li>
                    <li><a href="/grades" >Grades </a></li>
					<li><a href="/students" >Students</a></li>
				</ul>

				</li>


				<li><a href="/search" >Search</a></li>
				<li>
				<!-- <a href="#" >Data</a> -->
				<div class="mobnav-subarrow"></div>


			</ul>


            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						
					</div>
              </div><!-- End search -->

		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>
