
 <!-- End login -->
<section id="sub-header">
<div class="container">
	<div class="row">
	<img src="/assets/maze-banner.jpg" alt="Smiley face" height="450" width="1200">
		<div class="col-md-10 col-md-offset-1 text-center">
			<!-- <h2>Admin page is under construction</h2>
			
			<p class="lead boxed">You will be able to Access this page soon...</p>
			<p class="lead">
				Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
			</p> -->
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

