
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li>

				<a href="/index" >Home </a>

				
				<div class="mobnav-subarrow">
				</div>

				</li>
				<li>
				<a href="#" >Add </a>
				<div class="mobnav-subarrow">
				</div>
					<ul>
					<li><a href="/student" >Student</a></li>
					<li><a href="/instructor" >Instructor</a></li>
                    <li><a href="/class" >Class</a></li>
					<li><a href="/test" >Test</a>
					
					<ul>
                      <li><a href="/testdata" >Test Data</a></li>
                    </ul>
                    </li>
                    <li><a href="#" >Grade Level</a></li>
                    <li><a href="/term" >Term</a>
                    
						<ul>
                    	<li><a href="/grade_level" >Grade Level</a></li>
                    	</ul>
                    </li>
				</ul>

				</li>


				<li><a href="#" >Search</a></li>
				<li>
				<a href="#" >Data</a>
				<div class="mobnav-subarrow"></div>


			</ul>


            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
              </div><!-- End search -->

		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>


<!-- <section id="main_content" >
<div class="container">

<div class="row">
<div align="center">

	<div class="col-md-8">
		<div class=" box_style_2">
			<span class="tape"></span>
			<div class="row">
				<div class="col-md-12">
					<h3>Add Instructor info</h3>
				</div>
			</div>

        	<div id="message-apply"></div>
			<form method="post" action="http://www.ansonika.com/learn/assets/sliderimages/apply_2.php" id="contactform_apply">
			
				<div class="row">

						<div class="form-group">
                              <ul class="data-list floated clearfix">
							<li id="age"><input type="text" name="ID" class="required form-control" placeholder="ID"></li>
						</ul>
	                    </div>
					
						<div class="form-group">
							<input type="text" class="form-control style_2" id="firstname_apply" name="firstname_apply" placeholder="First Name">
						</div>
					
             
						<div class="form-group">
							<input type="text" class="form-control style_2" id="lastname_apply" name="lastname_apply" placeholder="Last Name">
						</div>
				
					 <div align="center">
   						<button type="button" class="backward">Add</button>

					  </div>

				</div>
	








					</div>
				</div>
				</div>



                </div>
			</form>
		</div>
	</div>
</div>
</div>
</section> -->

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


	<div id="top-wizard">
		<strong>Add Instructor info</strong>
		
	</div><!-- end top-wizard -->
    
	d
		<div id="middle-wizard">
			<div class="step">
				<div class="row">
					<img src="/assets/maze-banner.jpg" alt="Smiley face" height="450" width="1200">
					<div class="col-md-6">
						<!-- <ul class="data-list">
							<li><div class="form-group"><input type="text" name="firstname" class="required form-control" placeholder="First name"><span class="input-icon"><i class="icon-user"></i></span></div></li>

							<li><div class="form-group"><input type="text" name="middle name" class="required form-control" placeholder="middle name"><span class="input-icon"><i class="icon-user"></i></span></div></li>

							<li><div class="form-group"><input type="text" name="lastname" class="required form-control" placeholder="Last name"><span class="input-icon"><i class="icon-user"></i></span></div></li>

							<li><div class="form-group"><input type="email" name="email" class="required form-control" placeholder="Your Email"><span class="input-icon"><i class="icon-email"></i></span></div></li>
												
							
						</ul>
						<ul class="data-list floated clearfix">
							<li><input name="gender" type="radio" class="required check_radio" value="Male"><label class="label_gender"> Male</label></li>
							<li><input name="gender" type="radio" class="required check_radio" value="Female"><label class="label_gender"> Female</label></li>
						</ul> -->

						
                            
					</div><!-- end col-md-6 -->
                    
					
				</div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard">
			<button type="button" class="btn btn-primary ">Submit
  			 </button>
   		</div><!-- end bottom-wizard -->
	</form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


