


<section id="wizard_bg">
  <div class="container">
    <!-- Start Survey container -->
    <div id="survey_container">
      <div id="top-wizard">
        <strong>Search info</strong>
      </div><!-- end top-wizard -->
      <aside class="col-lg-3 col-md-4 col-sm-4" style="margin-top: 35px;">
        <div class="box_style_1">
          <h4> Search Categories</h4>
          <ul class="submenu-col">

            <li><a href="search" >Student Name</a></li>
            <li><a href="student_id">Student Id</a></li>
            <li><a href="/student_by_tier"  id="active">Student Tier</a></li>

          </ul>

        </aside>
        <div id="middle-wizard">
          <div class="step">
            <div class="row">
              <%#@student.inspect %>
              <%= form_tag( "/search", :method => "post") do %>
              <div class="col-md-6">
                <ul class="data-list">
                  <li>
                    <div class="form-group">

                      Tier name: <%= text_field_tag :tier_level , params[:tier_level],:class =>"required form-control"%>
                    </div></li>

                                  <%= submit_tag "Search" ,:class =>"btn btn-primary "%>
                  </ul> 

                </div><br />

                </div><!-- end row -->


              <% end %>

              <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>gender</th>
                <th>phone</th>
            </tr>
        </thead>
 
       
 
        <tbody>
            <% @students.each do |s|%>
            <tr>
                <td><%=s.id rescue nil%></td>
                <td><%=s.first_name rescue nil%></td>
                <td><%=s.email rescue nil%></td>
                <td><%=s.date_of_birth rescue nil%></td>
                <td><%=s.gender rescue nil%></td>
                <td><%=s.phone rescue nil%></td>
            </tr>
            <%end%>
        </tbody>
    </table>
              </div><!-- end step-->

            </div>


          </div>
        </div><!-- end Survey container -->
      </div>
    </section><!-- end section main container -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('#example').dataTable();
      } );
    </script>

