

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Test Data info</strong>
    
  </div><!-- end top-wizard -->
    
  
  <%= form_for(@testdatum) do |f| %>
  <% if @testdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testdatum.errors.count, "error") %> prohibited this testdatum from being saved:</h2>

      <ul>
      <% @testdatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

    <div id="middle-wizard">
      <div class="step">
        <div class="row">
         
          <div class="col-md-6">
            <ul class="data-list">
               <li><div class="form-group">
               <%= select_tag "testdatum[aclass_id]", options_from_collection_for_select(@classes, "id", "aclass",@class_id) ,:class=>"form-control",:prompt => "All Classes"  ,:id =>"aclass"  ,:onchange =>"window.location.assign('?aclass_id='+document.getElementById('aclass').value)",:value => "@testdata" %>
               
            </li>
             <li><div class="form-group">
             <%#=inspect.@class %>
               <%= select_tag "testdatum[student_id]", options_from_collection_for_select(@students, "id", "fullname")  ,{ :prompt => 'Select Class',:class=>"form-control"} %>
            </li>
             <li><div class="form-group">
            
               <%#= select_tag "student", options_from_collection_for_select(Term.all, "id", "term")  ,{ :prompt => 'Select Term',:class=>"form-control"} %>
            </li>
            <li><div class="form-group">
            <label for="exampleInputEmail1">Term Test</label>
            <%#=radio_button_tag 'test', "green", true%>
            <label for="exampleInputEmail1">Test1</label>
            <%#=radio_button_tag 'test', "green", true%>
            <label for="exampleInputEmail1">Term Test</label>
            <%#=radio_button_tag 'test', "green", true%>
            </div>
            </li>
           
              <li><div class="form-group">
              <%= f.text_field :benchmark, :class=> "form-control", :placeholder=>"Benchmark 1"%></i></span></div></li>

              <li><div class="form-group"> <%= f.date_select :date %></i></span></div></li>

             
              
                
              
              
            </ul>
                      
                            
          </div><!-- end col-md-6 -->
                            
          
        </div><!-- end row -->
           </div><!-- end step-->
           <div class="actions">
     
  </div>
        <div id="bottom-wizard">
      <%= f.submit :class=>"btn btn-primary " %>
    <% end %>
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->
