

 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Testdata  info</strong>
    
  </div><!-- end top-wizard -->
    
 
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
           <table class="table" border="2" style="width:100%">
            <thead>
              <tr>
                <th>Class</th>
                <th>Student Name</th>
                <th>Benchmark</th>
                <th>Date</th>
                <th colspan="3"></th>
              </tr>
            </thead>
          
            <tbody>
              <% @testdata.each do |testdatum| %>
                <tr>
                  <td><%#= testdatum.students. %></td>
                  <td><%#= testdatum.student.fullname rescue ""%></td>
                  <td><%= testdatum.benchmark %></td>
                  <td><%= testdatum.date %></td>
                  <td><%= link_to 'Show', testdatum %></td>
                  <td><%= link_to 'Edit', edit_testdatum_path(testdatum) %></td>
                  <td><%= link_to 'Destroy', testdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
           <% end %>
        </tbody>
        </table>
             
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
         <%= link_to 'New Testdatum', new_testdatum_path , :class=>"btn btn-primary btn-lg btn-block" %>
         
         </button>
      </div><!-- end bottom-wizard -->
 
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


