

  
 
<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Test Data </strong>
    
  </div><!--

   end top-wizard -->
   <%= form_for(@gradelevel) do |f| %>

  <% if @gradelevel.errors.any? %>

      <h2><%= pluralize(@gradelevel.errors.count, "error") %> prohibited this gradelevel from being saved:</h2>

      <ul>
      <% @gradelevel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form name="example-1" id="wrapped"  method="POST" >
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">

               <li><div class="form-group">
               <%= select_tag "gradelevel[aclass_id]", options_from_collection_for_select(@classes, "id", "aclass",@class_id) ,:class=>"form-control",:prompt => "All Classes"  ,:id =>"aclass"  ,:onchange =>"window.location.assign('?aclass_id='+document.getElementById('aclass').value)",:value => "@testdata" ,:required=>"True"%>
               
            </li>


              </li>
             <li><div class="form-group">
               <%= select_tag "term_id", options_from_collection_for_select(@terms, "id", "term",@term_id) ,:class=>"form-control",:prompt => "Select Term"  ,:id =>"term"  ,:onchange =>"window.location.assign('?term_id='+document.getElementById('term').value)",:value => "@testdata" ,:required=>"True"%>
               
            </li>
             <li><div class="form-group">
             <%#=inspect.@class %>
               <%= select_tag "gradelevel[test_id]", options_from_collection_for_select(@tests, "id", "name",@test_id)  ,{ :prompt => 'Select Test',:id=>"test",:onchange =>"window.location.assign('?test_id='+document.getElementById('test').value)",:class=>"form-control" ,:required=>"True"} %>
            </li>


           <li><div class="form-group">
             <%#=inspect.@class %>
               <%= select_tag "gradelevel[student_id]", options_from_collection_for_select(@students, "id", "fullname",@student_id)  ,{ :prompt => 'Select Student',:class=>"form-control",:required=>"True"} %>
            </li>



            <li><div class="form-group">
                 <%#=inspect.@class %>
               <%= select_tag "gradelevel[grade_id]", options_from_collection_for_select(Grade.all, "id", "grade",@student_id)  ,{ :prompt => 'Assign Grade',:class=>"form-control",:required=>"True"} %>
            </li>

            <li>
                <div class="form-group">
                <div class="form-inline">
                <label class="control-label">
                    Add BenchMark &nbsp&nbsp</label>&nbsp&nbsp
                <label class="radio">
                     Good <%= f.radio_button :benchmark, "Good"%>
                </label>&nbsp&nbsp
                <label class="radio">
                    Fair <%= f.radio_button :benchmark, "Fair"%>
                </label>&nbsp&nbsp
                <label class="radio">
                    Poor <%= f.radio_button :benchmark, "Poor"%>
                    </label>
                    <label class="radio">
                    Excellent <%= f.radio_button :benchmark, "Excellent"%>
                    </label>
                </div>
                </div>
                </li>
  
  

 
 


        
                


<!-- 
                <div class="form-group">
               <%#= f.text_field :gradelevel , :type=>"text", :class=>"required form-control", :placeholder=>"Gradelevel" %>
              </i></div></li>
                
          </div><!-end col-md-6 --> 
                            
          
        </div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard">
      <%= f.submit " Create TestData",:class=>"btn btn-primary " %>
         <%= link_to 'Back', gradelevels_path ,:class=>"btn btn-primary " %>

      </div>
    </form><!-- end bottom-wizard -->
<% end %> 
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->