

 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Test Data</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
        <h4>Listing Test Data</h4>

           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">

                   <thead>
                     <tr>
                     <th>Class</th>
                     <th>Student Name</th>
                      <th>Term</th>
                       <th>Test</th>
                       <th>Assigned Grade</th>
                       <th>Assigned Grade</th>

                       <th>Action</th>
                     </tr>
                   </thead>
                 
                   <tbody>
                     <% @gradelevels.each do |gradelevel| %>
                       <tr>
                       <td><%= gradelevel.student.aclass.aclass  rescue ""%></td>
                       <td><%= gradelevel.student.fullname rescue "" %></td>
                       <td><%= gradelevel.test.term.term  rescue "" %></td>
                         <td><%= gradelevel.test.name rescue ""  %>
                         <td><%= gradelevel.grade.grade rescue "" %></td>
                         <td><%= gradelevel.benchmark rescue "" %></td>
                         <td><%= link_to 'Show', gradelevel %>
                         <%= link_to 'Edit', edit_gradelevel_path(gradelevel) %>
                         <%= link_to 'Destroy', gradelevel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                       </tr>
                     <% end %>
                   </tbody>
                 </table>

             
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
         <%= link_to 'New Test Data', new_gradelevel_path, :class=>"btn btn-primary " %>
        
         </button>
      </div><!-- end bottom-wizard -->

</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->
 <script type="text/javascript">
     $(document).ready(function() {
         $('#example').dataTable();

                 "ordering": false,
                 "info":     false
     } );
 </script>


