<!-- <p id="notice"><%= notice %></p>
<table border="2" width="40%" BGCOLOR="#99CCFF" style="text-align:center;">
  <tr colspan="3">
    <th>Gradelevel:</th>
    <td>  <%= @gradelevel.gradelevel.inspect %></td>
  </tr>
  
</table>


<%= link_to 'Edit', edit_gradelevel_path(@gradelevel) %> |
<%= link_to 'Back', gradelevels_path %>
 -->

<body>

  <header>
  <center> <a href="/index"><h2>Reeves Elementary School Digital Wall</h2></center>
    <div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="#"></a>
    </div>
    
  </div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="mobnav-btn"></div>
     


           
              </div><!-- End search -->

    </div>
  </div><!-- End row -->
</div><!-- End container -->
</nav>


 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Grade level info</strong>
    
  </div><!-- end top-wizard -->
    
  <form name="example-1" id="wrapped" action="http://www.ansonika.com/learn/apply_send.php" method="POST" >
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
                  
        
           <p id="notice"><%= notice %></p>
            <table border="2" width="40%" BGCOLOR="#99CCFF" style="text-align:center;">
              <tr colspan="3">
                <th>Gradelevel:</th>
                <td>  <%= @gradelevel.gradelevel %></td>
              </tr>
              
            </table>

             
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
         <%= link_to 'Edit', edit_gradelevel_path(@gradelevel), :class=>"btn btn-primary " %>
         <%= link_to 'Back', gradelevels_path, :class=>"btn btn-primary " %>
         </button>
      </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->





<footer>
<hr>
<div class="container" id="nav-footer">
  <div class="row text-left">
    <div class="col-md-3 col-sm-3">
      <h4>Browse</h4>
      <ul>
        <li><a href="prices_plans.html">Prices</a></li>
        <li><a href="courses_grid.html">Courses</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contacts.html">Contacts</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>Next Courses</h4>
      <ul>
        <li><a href="course_details_1.html">Biology</a></li>
        <li><a href="course_details_2.html">Management</a></li>
        <li><a href="course_details_2.html">History</a></li>
        <li><a href="course_details_3.html">Litterature</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>About Learn</h4>
      <ul>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="apply_2.html">Apply</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <ul id="follow_us">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class=" icon-google"></i></a></li>
      </ul>
      <ul>
        <li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
        <li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="d9a8acbcaaadb0b6b7aa99bdb6b4b8b0b7f7bab6b4">[email&nbsp;protected]</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
      </ul>
    </div><!-- End col-md-4 -->
  </div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>



  </body>
</html>