
<section id="login_bg">
<div  class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<img src="/assets/login_logo.png" alt="">
			</p>
			<hr>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

           <!--  <div class="row">
            <div class="col-md-6 col-sm-6 login_social">
				<a href="#" class="btn btn-primary btn-block"><i class="icon-facebook"></i> Facebook</a>
			</div>
			<div class="col-md-6 col-sm-6 login_social">
				<a href="#" class="btn btn-info btn-block "><i class="icon-twitter"></i>Twitter</a>
			</div>
			</div> <!-- end row -->
	<!--		<div class="login-or"><hr class="hr-or"><span class="span-or">or</span></div> -->

       		
       		
				<div class="form-group">
					
					<%= f.email_field :email, autofocus: true , :class =>" form-control ", :placeholder=>"Username" %>
					<span class="input-icon"><i class=" icon-user"></i></span>
				</div>

				<div class="form-group" style="margin-bottom:5px;">
				
					<%= f.password_field :password, autocomplete: "off" , :class=>" form-control", :placeholder=>"Password", :style=>"margin-bottom:5px; "%>
					<span class="input-icon"><i class="icon-lock"></i></span>
				</div>

			 	<% if devise_mapping.rememberable? -%>
             		<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              	<% end -%>
				
				<%= f.submit "Log in", :class=>"button_fullwidth" %>
				<a href="../users/sign_up" class="button_fullwidth-2">Register</a>
				<% end %>

				<%= render "devise/shared/links" %>


		</div>
	</div>
</div>
</div>
</section> <!-- End login -->
