

 <%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Add Test info</strong>
    
  </div><!-- end top-wizard -->
    
 
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          
          <div class="col-md-6">
            <ul class="data-list">
            <li><div class="form-group">
               <%= select_tag "term[aclass_id]", options_from_collection_for_select(@classes , "id", "aclass", @class_id) ,:class=>"form-control",:prompt => "All Classes"  ,:id =>"aclass"  ,:onchange =>"window.location.assign('?aclass_id='+document.getElementById('aclass').value)",:value => "@testdata" %>
               
            </li>

                <li><div class="form-group">
               <%= select_tag "test[term_id]", options_from_collection_for_select(@terms, "id", "term",@terms_id) ,:class=>"form-control",:prompt => "Test for Term"   %>
               
            </li>


              <li><div class="form-g">  <%=f.text_field :name, :class=>"required form-control", :placeholder=>"Test name" %><span class="input-icon"><i class="icon-user"></i></span></div></li>
 
            
            </ul>
            
          </div><!-- end col-md-6 -->
          <div class="col-md-6">
                   
                        
            <ul class="data-list" style="margin:0; padding:0;">
              <div class="form-group">
                 <%= f.text_field :description, :rows=>"5",  :class=>"form-control", :placeholder=>"Descriptione", :style=>"height:150px;" %> 
                </div>  
                        </ul>
          </div><!-- end col-md-6 -->
               <!--  <div class="dropdown">     
        <label> Term &nbsp;</label><%#= f.collection_select(:term_id, Term.all, :id, :term,{:class =>"form-control"} )  %>
        </div> -->
        </div><!-- end row -->
           </div><!-- end step-->
        <div id="bottom-wizard" class="actions">
          <%= f.submit :class=>"btn btn-primary" %> 
           </button>
      </div><!-- end bottom-wizard -->
     <% end %>
  
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


