
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="mobnav-btn"></div>
     


           
              </div><!-- End search -->

    </div>
  </div><!-- End row -->
</div><!-- End container -->
</nav>


 <section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Test info</strong>
    
  </div><!-- end top-wizard -->
    
  
    <div id="middle-wizard">
      <div class="step">

          
         <center>
                      
              <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th> Class Name</th>
                  <th> Term Name</th>
                  <th> Test Name</th>
                  <th> Test Description</th>
                  <th> Action </th>
                </tr>
              </thead>
            
              <tbody>
                  <% @tests.each do |test| %>
                  <tr>       
                   <td><%= test.term.aclass.aclass rescue ""  %></td>
                <td><%= test.term.term rescue ""  %></td>
                    <td><%= test.name %></td>
                    <td><%= test.description %></td>
                    <td><%= link_to 'Show', test %>
                    <%= link_to 'Edit', edit_test_path(test) %>
                    <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
         <% end %>
        </tbody>
      </table>
<br>
            
            
                        
                            
         </center>
          
      
           </div><!-- end step-->
        <div id="bottom-wizard">
            <%= link_to 'New Test', new_test_path , :class=>"btn btn-primary " %>
       
         </button>
      </div><!-- end bottom-wizard -->
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').dataTable();

                "ordering": false,
                "info":     false
    } );
</script>


